.container1{
    background: url(labyrinthianimg/labyrinthianback.jpg); /* Se coloca una imagen de fondo */
    background-size: cover; /* cover permitirá que la imagen se ajuste al tamaño de screen.
                            Muy bueno para responsive. */
}

.labyrinthianBox{
    color: white;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.labyrinthianBox h1{
    font-size: calc(0.80em + 2vmin);
}

.labyrinthianBox p{
    flex-basis: auto;
    width: 90%;
    font-size: calc(0.50em + 2vmin);
}

.datatable{
    border: 1px solid white;
    padding: 10px;
    width: 75%;
    flex-basis: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(0.40em + 2vmin);
}

#left1{
    flex-basis: 50%;
    height: auto;
}
#right1{
    flex-basis: 50%;
    height: auto;
}
#left2{
    flex-basis: 50%;
    height: auto;
}
#right2{
    flex-basis: 50%;
    height: auto;
}
#left3{
    flex-basis: 50%;
    height: auto;
}
#right3{
    flex-basis: 50%;
    height: auto;
}
#left4{
    flex-basis: 50%;
    height: auto;
}
#right4{
    flex-basis: 50%;
    height: auto;
}